In [ ]:
# importa lid pyodbc
import pyodbc
import pandas as pd

In [ ]:
# classe de conexão de dados
class Connection():
    server = '.\SQLEXPRESS'
    database = 'empresa'

    def connect(self):
        return pyodbc.connect(
            Trusted_Connection='yes', 
            driver='{ODBC Driver 17 for SQL Server}', 
            server=self.server,
            database=self.database)

In [ ]:
# pegar a conexão com o banco de dados
db = Connection()
c = db.connect()

In [14]:
class Categoria:
    def __init__(self, connection):
        self.connection = connection

    def mountQuery(self, template):
        dml = "update Categoria set "
        string = ""

        for t in range(len(template)):
            concat = ""
            if (t + 1) == len(template):
                concat = "=? "
            else:
                concat = "=?, "
            string = string + template[t] + concat
        
        dml = dml + string + "where id = ?"
        return dml

    def create(self):
        ddl = '''CREATE TABLE Categoria(
            id int primary key identity(1,1),
            -- identity (inicio, incremento): especifica o valor inicial e de incremento.
            nome varchar(32),
            descricao text
        )'''
        
        with self.connection:
            self.connection.execute(ddl)

    def read(self):
        ddl = '''select * from Categoria'''

        with self.connection:
            cursor = self.connection.cursor()
            linha = cursor.execute(ddl).fetchall()
            return linha
    
    def insert(self):
        dml = "insert into Categoria (nome, descricao) values (?,?)"
        nome = input("Insira o nome da categoria: ")
        descricao = input("Insirea o nome da descricao: ")

        parametros = tuple((nome, descricao))
        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)

    def update(self):
        identifier = input("Insira o id a ser alterado ou digite n para cancelar: ")
        if identifier == "n":
            return

        nome = input("Insira o novo nome da categoria ou deixe em brano para manter a existente: ")
        descricao = input("Insira a nova descricao ou deixe em brano para manter a existente: ")
        
        par = list()
        template = list()

        if nome:
            par.insert(len(par),  nome)
            template.insert(len(template) ,'nome')
        if descricao:
            par.insert(len(par),  descricao)
            template.insert(len(template) ,'descricao')

        dml = self.mountQuery(template)
        print(dml)
        par.insert(len(par), identifier)
        parametros = tuple(par)
    
        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)

    def delete(self):
        identifier = input("Digite o id do objeto a ser removido: ")
        dml = "delete from Categoria where id = ?"

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, identifier)

categoria = Categoria(c)

[(1, 'Telefonia', 'Aparelho telefônico'),
 (2, 'Informática', 'Computador portátil'),
 (3, 'Roupa', 'Vestuário'),
 (4, 'Calçado', 'Vestuário')]

In [17]:
class Vendedor:
    def __init__(self, connection):
        self.connection = connection

    def mountQuery(self, template):
        dml = "update Vendedor set "
        string = ""

        for t in range(len(template)):
            concat = ""
            if (t + 1) == len(template):
                concat = "=? "
            else:
                concat = "=?, "
            string = string + template[t] + concat
        
        dml = dml + string + "where cpf=?"
        return dml

    def create(self):
        ddl = '''CREATE TABLE Vendedor(
            cpf varchar (14) primary key,
            nome varchar (128),
            email varchar (128),
            telefone varchar (20),
            endereco varchar (256)
        )'''

        with self.connection:
            self.connection.execute(ddl)

    def read(self):
        ddl = '''select * from Vendedor'''

        with self.connection:
            cursor = self.connection.cursor()
            linha = cursor.execute(ddl).fetchall()
            return linha

    def insert(self):
        dml = "insert into Vendedor (cpf, nome, email, telefone, endereco) values (?,?,?,?,?)"
        cpf = input("Insira o cpf do vendedor - ")
        nome = input("Insira o nome do vendedor - ")
        email = input("Insira o email do vendedor - ")
        telefone = input("Insira o telefone do vendedor - ")
        endereco = input("Insira o endereco do vendedor - ")

        parametros = tuple((cpf, nome, email, telefone, endereco))

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)
    
    def update(self):
        identifier = input("Insira o cpf do vendedor a ser alterado ou digite n para cancelar: ")
        if identifier == "n":
            return
  
        nome = input("Insira o novo nome ou deixe em branco para manter o mesmo: ")
        email = input("Insira o novo email ou deixe em branco para manter o mesmo:  ")
        telefone = input("Insira o telefone ou deixe em branco para manter o mesmo: ")
        endereco = input("Insira o novo endereco ou deixe em branco para manter o mesmo: ")

        par = list()
        template = list()

        if nome:
            par.insert(len(par),  nome)
            template.insert(len(template) ,'nome')
        if email:
            par.insert(len(par) ,email)
            template.insert(len(template),'email')
        if telefone:
            par.insert(len(par),telefone)
            template.insert(len(template),'telefone')
        if endereco:
            par.insert(len(par),endereco)
            template.insert(len(template),'endereco')

        dml = self.mountQuery(template)
        par.insert(len(par), identifier)
        parametros = tuple(par)

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)

    def delete(self):
        identifier = input("Digite o cpf do vendedor a ser removido: ")
        dml = "delete from Vendedor where cpf = ?"

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, identifier)

vendedor =  Vendedor(c)
vendedor.delete()
vendedor.read()

[('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
 ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
 ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
 ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
 ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
 ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
 ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
 ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
 ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG')]

In [21]:
class Produto:
    def __init__(self, connection):
        self.connection = connection

    def mountQuery(self, template):
        dml = "update Produto set "
        string = ""

        for t in range(len(template)):
            concat = ""
            if (t + 1) == len(template):
                concat = "=? "
            else:
                concat = "=?, "
            string = string + template[t] + concat
        
        dml = dml + string + "where id=?"
        return dml
    
    def create(self):
        ddl = '''CREATE TABLE Produto (
                id int primary key identity (1, 1), 
                -- identity (inicio, incremento): especifica o
                -- valor inicial e de incremento dos valores 
                -- gerados para a primary key.s
                nome varchar (128),
                descricao text,
                marca varchar (32),
                id_categoria int foreign key references Categoria (id)
                )
              '''
        with self.connection:
            self.connection.execute(ddl)

    def insert(self):
        nome = input("Insira o nome - ")
        descricao = input("Insira a descricao do produto - ")
        marca = input("Insira a marca do produto - ")
        id_categoria = input("Insira o id da categoria - ")

        dml = "insert into Produto (nome, descricao, marca, id_categoria) values (?,?,?,?)"
        parametros = tuple((nome, descricao, marca, id_categoria))

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)


    def delete(self):
        identifier = input("Insira o id do produto a ser deletado: ")
        dml = "delete from Produto where id = ?"

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, identifier)

    def update(self):
        identifier = input("Insira o id do produto a ser atualizado: ")
        nome = input("Insira o nome - ")
        descricao = input("Insira a descricao do produto ou deixe em branco para manter o mesmo: ")
        marca = input("Insira a marca do produto ou deixe em branco para manter o mesmo: ")
        id_categoria = input("Insira o id da categoria ou deixe em branco para manter o mesmo: ")

        par = list()
        template = list()

        if nome:
            par.insert(len(par),  nome)
            template.insert(len(template), 'nome')
        if descricao:
            par.insert(len(par), descricao)
            template.insert(len(template), 'descricao')
        if marca:
            par.insert(len(par), marca)
            template.insert(len(template), 'marca')
        if id_categoria:
            par.insert(len(par), id_categoria)
            template.insert(len(template),'id_categoria')

        dml = self.mountQuery(template)
        par.insert(len(par), identifier)
        parametros = tuple(par)

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)

    def read(self):
        ddl = '''select * from Produto'''

        with self.connection:
            cursor = self.connection.cursor()
            linha = cursor.execute(ddl).fetchall()
            print(linha)
            return linha


produto = Produto(c)
produto.delete()
produto.read()

[(1, 'Celular', 'Celular 1', 'Apple', 1), (2, 'Celular', 'Celular 2', 'Samsung', 1), (3, 'Celular', 'Celular 3', 'Xiaomi', 1), (4, 'Notebook', 'Notebook 1', 'Apple', 2), (5, 'Notebook', 'Notebook 2', 'Samsung', 2), (6, 'Notebook', 'Notebook 3', 'Xiaomi', 2), (7, 'Camisa', 'Camisa 1', 'Nike', 3), (8, 'Calça', 'Calça 1', 'Nike', 3), (9, 'Tênis', 'Tênis 1', 'Nike', 4), (10, 'Camisa', 'Camisa 2', 'Adidas', 3), (11, 'Calça', 'Calça 2', 'Adidas', 3), (12, 'Tênis', 'Tênis 2', 'Adidas', 4), (13, 'Camisa', 'Camisa 3', 'Zara', 3), (14, 'Calça', 'Calça 3', 'Zara', 3), (15, 'Tênis', 'Tênis 3', 'Zara', 4)]

[(1, 'Celular', 'Celular 1', 'Apple', 1),
 (2, 'Celular', 'Celular 2', 'Samsung', 1),
 (3, 'Celular', 'Celular 3', 'Xiaomi', 1),
 (4, 'Notebook', 'Notebook 1', 'Apple', 2),
 (5, 'Notebook', 'Notebook 2', 'Samsung', 2),
 (6, 'Notebook', 'Notebook 3', 'Xiaomi', 2),
 (7, 'Camisa', 'Camisa 1', 'Nike', 3),
 (8, 'Calça', 'Calça 1', 'Nike', 3),
 (9, 'Tênis', 'Tênis 1', 'Nike', 4),
 (10, 'Camisa', 'Camisa 2', 'Adidas', 3),
 (11, 'Calça', 'Calça 2', 'Adidas', 3),
 (12, 'Tênis', 'Tênis 2', 'Adidas', 4),
 (13, 'Camisa', 'Camisa 3', 'Zara', 3),
 (14, 'Calça', 'Calça 3', 'Zara', 3),
 (15, 'Tênis', 'Tênis 3', 'Zara', 4)]

In [24]:
class VendedorProduto:
    def __init__(self, connection):
        self.connection = connection
    
    def mountQuery(self, template):
        dml = "update VendedorProduto set "
        string = ""

        for t in range(len(template)):
            concat = ""
            if (t + 1) == len(template):
                concat = "=? "
            else:
                concat = "=?, "
            string = string + template[t] + concat
        
        dml = dml + string + "where id=?"
        return dml

    def create(self):
        ddl = '''CREATE TABLE VendedorProduto (
                id int primary key identity (1, 1), 
                -- identity (inicio, incremento): 
                -- especifica o valor inicial e de incremento dos 
                -- valores gerados para a primary key.
                cpf_vendedor varchar (14) foreign key references Vendedor (cpf),
                id_produto int foreign key references Produto (id),
                quantidade int,
                preco decimal);
              '''
        with self.connection:
            self.connection.execute(ddl)

    def read(self):
        ddl = '''select * from VendedorProduto'''
        with self.connection:
            cursor = self.connection.cursor()
            linha = cursor.execute(ddl).fetchall()
            print(linha)
            return linha
    
    def insert(self):
        cpf_vendedor = input("Insira o cpf do vendedor: ")
        id_produto = input("Insira o id do produto: ")
        quantidade = input("Insira a quantidade do produto: ")
        preco = input("Insira preco: ")

        dml = "insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco) values (?,?,?,?)"
        parametros = tuple((cpf_vendedor, id_produto, quantidade, preco))

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)

    def delete(self):
        identifier = input("Insira o id da venda a ser removida: ")

        dml = "delete from VendedorProduto where id = ?"
        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, identifier)

    def update(self):
        identifier = input("Insira o id da venda a ser atualizado: ")
        cpf_vendedor = input("Insira o cpf do vendedor ou deixe em branco para manter o mesmo: ")
        id_produto = input("Insira a id do produto ou deixe em branco para manter o mesmo: ")
        quantidade = input("Insira a quantidade do produto ou deixe em branco para manter o mesmo: ")
        preco = input("Insira o preco ou deixe em branco para manter o mesmo: ")

        par = list()
        template = list()

        if cpf_vendedor:
            par.insert(len(par),  cpf_vendedor)
            template.insert(len(template), 'cpf_vendedor')
        if id_produto:
            par.insert(len(par), id_produto)
            template.insert(len(template), 'id_produto')
        if quantidade:
            par.insert(len(par), quantidade)
            template.insert(len(template), 'quantidade')
        if preco:
            par.insert(len(par), preco)
            template.insert(len(template),'preco')

        dml = self.mountQuery(template)
        par.insert(len(par), identifier)
        parametros = tuple(par)

        with self.connection:
            cursor = self.connection.cursor()
            cursor.execute(dml, parametros)

vendedorProduto = VendedorProduto(c)
vendedorProduto.delete()
vendedorProduto.read()

[(1, '111.111.111-11', 1, 2, Decimal('4000')), (2, '111.111.111-11', 2, 3, Decimal('3000')), (3, '111.111.111-11', 3, 4, Decimal('1000')), (4, '111.111.111-11', 12, 2, Decimal('110')), (5, '222.222.222-22', 4, 3, Decimal('5000')), (6, '222.222.222-22', 5, 5, Decimal('4000')), (7, '222.222.222-22', 6, 6, Decimal('3000')), (8, '333.333.333-33', 7, 10, Decimal('50')), (9, '333.333.333-33', 14, 2, Decimal('88')), (10, '555.555.555-55', 7, 10, Decimal('45')), (11, '666.666.666-66', 9, 3, Decimal('120')), (12, '666.666.666-66', 14, 8, Decimal('78')), (13, '888.888.888-88', 10, 0, Decimal('40')), (14, '999.999.999-99', 11, 0, Decimal('87')), (15, '999.999.999-99', 1, 1, Decimal('5000')), (16, '222.222.222-22', 3, 15, Decimal('5000'))]

[(1, '111.111.111-11', 1, 2, Decimal('4000')),
 (2, '111.111.111-11', 2, 3, Decimal('3000')),
 (3, '111.111.111-11', 3, 4, Decimal('1000')),
 (4, '111.111.111-11', 12, 2, Decimal('110')),
 (5, '222.222.222-22', 4, 3, Decimal('5000')),
 (6, '222.222.222-22', 5, 5, Decimal('4000')),
 (7, '222.222.222-22', 6, 6, Decimal('3000')),
 (8, '333.333.333-33', 7, 10, Decimal('50')),
 (9, '333.333.333-33', 14, 2, Decimal('88')),
 (10, '555.555.555-55', 7, 10, Decimal('45')),
 (11, '666.666.666-66', 9, 3, Decimal('120')),
 (12, '666.666.666-66', 14, 8, Decimal('78')),
 (13, '888.888.888-88', 10, 0, Decimal('40')),
 (14, '999.999.999-99', 11, 0, Decimal('87')),
 (15, '999.999.999-99', 1, 1, Decimal('5000')),
 (16, '222.222.222-22', 3, 15, Decimal('5000'))]

In [ ]:
class GettingInfo:
    def __init__(self, connection):
        self.connection = connection

    def questao01(self):
        sql = ''' select v.nome as Vendedor from Vendedor v where v.nome like '%s';'''

        data_frame = pd.read_sql_query(sql, self.connection);
        print (data_frame)

    def questao02(self):
        sql = ''' select distinct v.nome as Vendedor
                    from Vendedor v, VendedorProduto vp, Produto p
                    where v.cpf = vp.cpf_vendedor and
                    vp.id_produto = p.id and
                    vp.preco between 10 and 50 
                    '''
        data_frame = pd.read_sql_query(sql, self.connection);
        print ("Vendedores como valores entre 10 e 50")
        print (data_frame)

        sql = ''' select distinct v.nome as Vendedor
                    from Vendedor v, VendedorProduto vp, Produto p
                    where v.cpf = vp.cpf_vendedor and
                    vp.id_produto = p.id and
                    vp.preco between 100 and 500 
                    '''

        data_frame = pd.read_sql_query(sql, self.connection);
        print ("Vendedores como valores entre 100 e 500")
        print (data_frame)


    def questao03(self):
            sql = ''' select sum (preco * quantidade) as 'Preço Máximo'
                from VendedorProduto vp where vp.cpf_vendedor='111.111.111-11' 
                '''

            data_frame = pd.read_sql_query(sql, self.connection);
            print (data_frame)

    def questao04(self):
            sql = ''' select sum(preco * quantidade) as 'Valor maximo de vendas'
                from VendedorProduto
                '''

            data_frame = pd.read_sql_query(sql, self.connection);
            print (data_frame)

    def questao05(self):
        sql = '''select max(Resultado.QTD) as MediaDeVendas, Resultado.NOME from (select v.nome as                  NOME, sum(vp.quantidade * vp.preco) as QTD from VendedorProduto vp, Vendedor v where                    v.cpf = vp.cpf_vendedor group by v.nome) AS Resultado group by Resultado.NOME,                          Resultado.QTD order by  Resultado.QTD DESC
            '''


        data_frame = pd.read_sql_query(sql, self.connection);
        print (data_frame)
    
    def questao06(self):
        sql = '''select round(avg(Resultado.QTD), 2) as MediaDeVendas from (select v.nome as NOME,                    sum(vp.quantidade * vp.preco) as QTD from VendedorProduto vp, Vendedor v where v.cpf                    = vp.cpf_vendedor group by v.nome) AS Resultado  
            '''


        data_frame = pd.read_sql_query(sql, self.connection);
        print (data_frame)

    def questao07(self):
        sql = '''
            select 
                v.nome as NOME, 
                sum(vp.quantidade * vp.preco) as ValorGanho 
                from VendedorProduto vp, Vendedor v 
                where v.cpf = vp.cpf_vendedor 
                group by v.nome having sum(vp.quantidade * vp.preco) >
                (select round(avg(Resultado.QTD), 2) 
                    from (select v.nome as NOME,sum(vp.quantidade * vp.preco) as QTD 
                    from VendedorProduto vp, Vendedor v where v.cpf = vp.cpf_vendedor group by v.nome) 
                    AS Resultado) order by sum(vp.quantidade * vp.preco) DESC
            '''


        data_frame = pd.read_sql_query(sql, self.connection);
        print (data_frame)