In [25]:
import pyodbc
import pandas as pd

In [28]:
# classe de conexão de dados
class Connection():
    server = '.\SQLEXPRESS'
    database = 'empresa'

    def connect(self):
        return pyodbc.connect(
            Trusted_Connection='yes', 
            driver='{ODBC Driver 17 for SQL Server}', 
            server=self.server,
            database=self.database)

In [29]:
db = Connection()
c = db.connect()

In [30]:
class Categoria:
 def __init__ (self, conexao):
    self.conexao = conexao
 
 def inserir (self):
    dml = "insert into Categoria (nome, descricao) values (?,?)"
    
    params = [('Telefonia', 'Aparelho telefônico'),
                ('Informática', 'Computador portátil'),
                ('Roupa', 'Vestuário'),
                ('Calçado', 'Vestuário')]
    with self.conexao:
        cursor = self.conexao.cursor()
        for p in params:
            cursor.execute(dml, p)

In [31]:
Categoria(c).inserir()

In [43]:
class Vendedor:
    def __init__(self, conexao):
        self.conexao = conexao
    
    def inserir(self):
        dml = "insert into Vendedor (cpf, nome, email, telefone, endereco) values (?,?,?,?,?)"
        params = [
            ('111.111.111-11', 'Ana', 'ana@ana.com.br', '(11) 1 1111-1111', 'Rua n.1, n. 1, Bairro 1, Cidade 1, MG'),
            ('222.222.222-22', 'Bruno', 'bruno@bruno.com.br', '(22) 2 2222-2222', 'Rua n.2, n. 2, Bairro 2, Cidade 2, MG'),
            ('333.333.333-33', 'Carla', 'carla@carla.com.br', '(33) 3 3333-3333', 'Rua n.3, n. 3, Bairro 3, Cidade 3, MG'),
            ('444.444.444-44', 'Diego', 'diego@diego.com.br', '(44) 4 4444-4444', 'Rua n.4, n. 4, Bairro 4, Cidade 4, MG'),
            ('555.555.555-55', 'Elis', 'elis@elis.com.br', '(55) 5 5555-5555', 'Rua n.5, n. 5, Bairro 5, Cidade 5, MG'),
            ('666.666.666-66', 'Fábio', 'fabio@fabio.com.br', '(66) 6 6666-6666', 'Rua n.6, n. 6, Bairro 6, Cidade 6, MG'),
            ('777.777.777-77', 'Gisele', 'gisele@gisele.com.br', '(77) 7 7777-7777', 'Rua n.7, n. 7, Bairro 7, Cidade 7, MG'),
            ('888.888.888-88', 'Heitor', 'heitor@heitor.com.br', '(88) 8 8888-8888', 'Rua n.8, n. 8, Bairro 8, Cidade 8, MG'),
            ('999.999.999-99', 'Iris', 'iris@iris.com.br', '(99) 9 9999-9999', 'Rua n.9, n. 9, Bairro 9, Cidade 9, MG')]
        
        with self.conexao:
            cursor = self.conexao.cursor()
            for p in params:
                cursor.execute(dml, p)


    def buscar(self):
        sql = '''select p.nome as Produto, c.nome as Categoria, vp.quantidade as Qtde, vp.preco 
        as Preço
        from Produto p, Categoria c, VendedorProduto vp
            where vp.id_produto = p.id and
            p.id_categoria = c.id
             group by p.nome, c.nome, vp.quantidade, vp.preco
            '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

    def pesquisaPandas(self):
        sql = ''' select v.cpf as CPF, v.nome as Vendedor,
                p.nome as Produto, p.marca as Marca,
                c.nome as Categoria,
                vp.quantidade as Qtde, vp.preco as Preço
                from Vendedor v, VendedorProduto vp, Produto p, Categoria c
                where v.cpf = vp.cpf_vendedor and
                vp.id = p.id and
                p.id_categoria = c.id;
                '''
        data_frame = pd.read_sql_query (sql, self.conexao)
        print (data_frame)
        print (type (data_frame))

Vendedor(c).buscar()

     Produto    Categoria  Qtde   Preço
0      Calça        Roupa     0    87.0
1      Calça        Roupa     2    88.0
2      Calça        Roupa     8    78.0
3     Camisa        Roupa     0    40.0
4     Camisa        Roupa    10    45.0
5     Camisa        Roupa    10    50.0
6    Celular    Telefonia     1  5000.0
7    Celular    Telefonia     2  4000.0
8    Celular    Telefonia     3  3000.0
9    Celular    Telefonia     4  1000.0
10  Notebook  Informática     3  5000.0
11  Notebook  Informática     5  4000.0
12  Notebook  Informática     6  3000.0
13     Tênis      Calçado     2   110.0
14     Tênis      Calçado     3   120.0
<class 'pandas.core.frame.DataFrame'>

In [34]:
class Produto:
    def __init__(self, conecxao):
        self.conecxao = conecxao

    def inserir(self):
        dml = "insert into Produto (nome, descricao, marca, id_categoria) values (?,?,?,?)"
        params = [
            ('Celular', 'Celular 1', 'Apple', 1),
            ('Celular', 'Celular 2', 'Samsung', 1),
            ('Celular', 'Celular 3', 'Xiaomi', 1),
            ('Notebook', 'Notebook 1', 'Apple', 2),
            ('Notebook', 'Notebook 2', 'Samsung', 2),
            ('Notebook', 'Notebook 3', 'Xiaomi', 2),
            ('Camisa', 'Camisa 1', 'Nike', 3),
            ('Calça', 'Calça 1', 'Nike', 3),
            ('Tênis', 'Tênis 1', 'Nike', 4),
            ('Camisa', 'Camisa 2', 'Adidas', 3),
            ('Calça', 'Calça 2', 'Adidas', 3),
            ('Tênis', 'Tênis 2', 'Adidas', 4),
            ('Camisa', 'Camisa 3', 'Zara', 3),
            ('Calça', 'Calça 3', 'Zara', 3),
            ('Tênis', 'Tênis 3', 'Zara', 4)
        ];

        with self.conecxao:
            cursor = self.conecxao.cursor()
            for p in params:
                cursor.execute(dml, p)


Produto(c).inserir()

In [35]:
class VendedorProduto:
    def __init__ (self, conexao):
        self.conexao = conexao

    def inserir(self):
        dml = "insert into VendedorProduto (cpf_vendedor, id_produto, quantidade, preco) values (?,?,?,?)"
        params = [
            ('111.111.111-11', 1, 2, 4000),
            ('111.111.111-11', 2, 3, 3000),
            ('111.111.111-11', 3, 4, 1000),
            ('111.111.111-11', 12, 2, 110),
            ('222.222.222-22', 4, 3, 5000),
            ('222.222.222-22', 5, 5, 4000),
            ('222.222.222-22', 6, 6, 3000),
            ('333.333.333-33', 7, 10, 50),
            ('333.333.333-33', 14, 2, 88),
            ('555.555.555-55', 7, 10, 45),
            ('666.666.666-66', 9, 3, 120),
            ('666.666.666-66', 14, 8, 78),
            ('888.888.888-88', 10, 0, 40),
            ('999.999.999-99', 11, 0, 87),
            ('999.999.999-99', 1, 1, 5000)
        ]

        with self.conexao:
            cursor = self.conexao.cursor()
            for p in params:
                cursor.execute(dml, p);
            

VendedorProduto(c).inserir()